<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>

<body class="login_body">
    <header>

        <div class="login">
            <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="logo" /></a>
          </div>
        
    </header>

    <main class="login_main">
   
    <form class="login_main_formulario"
     action="/registro" method="post">

    <div class="login_main_nomdeusuario">    
        <label for="">Nombre de usuario</label>
        <input type="text" name="Usuario">
    </div> 

    <div class="login_main_constraseña">
        <label for="">Contraseña</label>
        <input type="password" name="constraseña" id="contraseña">
    </div>

    <div class="login_main_boton">
        <button>
            <a href="./">enviar</a> 
        </button>
    </div>            
    </form>
</main>

<footer>


</footer>
</body>
</html>



<!-- ● Nombre de usuari@
● Contraseña
● Botón de enviar que nos lleve a la página principal -->