<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>register</title>
</head>






<body class="register_body">
    <header> 
    </header>

    <main>
       
        <section class="register_main">   
             <h1>Registrate</h1>
             
            
             <form action="register" name="register">
             <div class="register_main_nomyap">
                <label for="nombreyapelido">Nombre y Apellido</label>
                <input type="text" name="nombreyapellido" id="nombreyapellido">
             </div>

             <div class="register_main_nomusuario">
                <label for="nombredeusuario">Nombre de Usuaio</label>
                <input type="text" name="nombredeusuario" id="nombredeusuario">
             </div>

             <div class="register_main_email">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
             </div>

             <h4>Fecha de nacimiento</h4>

             <div class="register_main_fecha">    
              <label for="fecha"></label>
             <input type="date" name="fecha"
             id="fecha">
            </div>

            <div class="register_main_domicilio">
                <label for="domicilio">Domicilio</label>
                <input type="text" name="domicilio" id="domicilio">
             </div>
               
            <div class="register_main_perfil">  
             <h4>Perfil de usuario</h4>
            </div>

             <div class="register_main_comprador">
                <label for="">comprador</label>
                <input type="radio" name="comprador" id="comprador">
             </div>

             <div class="register_main_vendedor">
                <label for="">vendedor</label>
                <input type="radio" name="vendedor" id="vendedor">
             </div>
              
             <div class="register_main_intereses">  
             <h4>Intereses</h4>
            </div>

             <div class="register_main_electro">
                <label for="">Electro</label>
                <input type="checkbox" name="electro" id="electro">
             </div>

             <div class="register_main_moda">
                <label for="">Moda</label>
                <input type="checkbox" name="moda" id="moda">
             </div>

             <div class="register_main_hogar">
                <label for="">Hogar</label>
                <input type="checkbox" name="hogar" id="hogar">
             </div>

             <div class="register_main_jugueteria">
                <label for="">
                    Juguetería
                </label>
                <input type="checkbox" name="jugueteria" id="jugueteria">
             </div>

             <div class="register_main_vidasana">
                <label for="">Vida sana</label>
                <input type="checkbox" name="vida sana" id="vida sana">
             </div>

             foto de usuario

             <div class="register_main_contra">
                <label for="">Contraseña</label>
                <input type="password" name="password" id="password">
             </div>

             <div class="register_main_confirmacontra">
                <label for="">Confirmar contraseña</label>
                <input type="password2" name="password2" id="password2">
             </div>

             <div class="register_main_pagppal">
                <button>
                    Pagina principal
                </button>
             </div>

             <div class="register_main_borrar">
                <button>
                    Borrar los datos del formulario
                </button>
             </div>
            </form>
            </section>
    </main>


    <footer>

    </footer>
</body>
</html>




<!-- ■ Nombre y apellido
■ Nombre de usuari@
■ Fecha de nacimiento
■ Domicilio
■ Perfil del usuario (consultar a l@s usuari@s si quieren comprar o vender)
■ Categorías de interés (puede elegir más de una)
● Electro
● Moda
● Hogar
● Juguetería
● Vida sana
■ Foto de usuario
■ Contraseña
■ Confirmar contraseña
■ Botón de enviar que nos lleve a la página principal
■ Botón de borrar todos los datos del formulario -->