<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>register</title>
</head>






<body class="register_body">
    <header> 
    
      <div class="login">
         <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="logo" /></a>
       </div>

    </header>

    <main>
       
        <section class="register_main">  

             <h1>Registrate</h1>
             
            
             <form class="form_main"
             action="register" method="post">
               
             <div class="register_main">
                <label for="nombreyapelido">Nombre y Apellido</label>
                <input type="text" name="nombreyapellido" id="nombreyapellido">
             </div>

             <div class="register_main">
                <label for="nombredeusuario">Nombre de Usuaio</label>
                <input type="text" name="nombredeusuario" id="nombredeusuario">
             </div>

             <div class="register_main">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
             </div>
             
            
             <div class="register_main">    
              <label for="fecha">Fecha de Nacimiento</label>
             <input type="date" name="fecha"
             id="fecha">
            </div>
         

            <div class="register_main">
                <label  for="domicilio">Domicilio</label>
                <input type="text" name="domicilio" id="domicilio">
             </div>
               

       <section class="register_main_perfilusuario">  

            <div class="register_main">  
             <h2>Perfil de usuario</h2>
            </div>

             <div class="register_main">
                <label for="">comprador</label>
                <input type="radio" name="comprador" id="comprador">
             </div>

             <div class="register_main">
                <label for="">vendedor</label>
                <input type="radio" name="vendedor" id="vendedor">
             </div>
       </section>
              
             <div class="register_main">  
             <h2>Intereses</h2>
            </div>

       <section class="register_main_intereseslista"> 

             <div class="register_main">
                <label for="">Electro</label>
                <input type="checkbox" name="electro" id="electro">
             </div>

             <div class="register_main">
                <label for="">Moda</label>
                <input type="checkbox" name="moda" id="moda">
             </div>

             <div class="register_main">
                <label for="">Hogar</label>
                <input type="checkbox" name="hogar" id="hogar">
             </div>

             <div class="register_main">
                <label for="">
                    Juguetería
                </label>
                <input type="checkbox" name="jugueteria" id="jugueteria">
             </div>

             <div class="register_main">
                <label for="">Vida sana</label>
                <input type="checkbox" name="vida sana" id="vida sana">
             </div>

       </section>

             <div class="register_main">
               <label for="">Subir foto</label>
               <input type="file" name="foto" id="foto">
             </div>

             <div class="register_main">
                <label for="">Contraseña</label>
                <input type="password" name="password" id="password">
             </div>

             <div class="register_main">
                <label for="">Confirmar contraseña</label>
                <input type="password" name="password2" id="password2">
             </div>

             <div class="register_main">
               <button>   
               <label for="">pagina principal</label>
               <input type="submit" name="pagprincipal" id="pagprincipal">
            </button>
             </div>
          

             <div class="register_main">
                <button>
                    Borrar los datos del formulario
                </button>
             </div>
            </form>
            </section>
    </main>


    <footer>

    </footer>
</body>
</html>




<!-- ■ Nombre y apellido
■ Nombre de usuari@
■ Fecha de nacimiento
■ Domicilio
■ Perfil del usuario (consultar a l@s usuari@s si quieren comprar o vender)
■ Categorías de interés (puede elegir más de una)
● Electro
● Moda
● Hogar
● Juguetería
● Vida sana
■ Foto de usuario
■ Contraseña
■ Confirmar contraseña
■ Botón de enviar que nos lleve a la página principal
■ Botón de borrar todos los datos del formulario -->