.home__main {
    background-color: var(--colorGrisClaro); 
    margin: 0; 
  }

  .home_main_banner{
    width: 100%;
  }

  .home_main_banner img{
    width: 100%;
    padding: 0;
    margin: 0;
    margin: auto;
  }
     
  .home_main_section {
         width: 90%;
         margin: 0 auto;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-content: flex-start;
    }
    
  .home_main_H3 {
    font-size: medium;
    text-align: center;
  }
  
  .home_mainsection_product {
    border: solid 1px white; 
    background-color: white;
    margin-bottom: 10px;
    width: 100%;
  }

  .home_main_carrito{
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: -15px;
    transition: all 2s;
    display: flex;
    justify-content: center;
    align-content: center;
    
    }
    .home_main_carrito:hover{
      transform: rotate(360deg);

    } 

  .home_mainsection_product p{
    display: inline-block;
    margin-right: 40px;
    justify-content: space-between;
  }
  
  .home_mainsection_product img {
    width: 100%;
    height: auto;
  }
 
  .home_mainsectionproduct_descripcion{  border-top: solid 1px var(--colorGrisClaro);
    padding: 15px;
    line-height: 25px;
    position: relative;
  }

  .home_mainsectionproduct_descripcion i {
    font-size: 15px;
    color: var(--colorVerde);
  }
  
  .home_mainsectionproduct_descripcion .porcentaje {
    color: var(--colorVerde);
  }

  .home_mainsectionproduct_descripcion p,
   h4 {
    font-size: 16px;
  }

  /* transition y animation */
  .home_mainsection_product{
    box-shadow: none;
    cursor: pointer;
  }

  .home_mainsection_product:hover{
    opacity: 0.8;
    box-shadow: 4px 4px rgb(186, 185, 185);
  }


.home_mainsectionproduct_descripcion h4{
    transition: all 0.4s;
    opacity: 0;
    font-size: medium;
      
}

.home_mainsection_product:hover .home_mainsectionproduct_descripcion h4{
       opacity: 1;
}


  @media (min-width:768px) {


    .home_mainsection_product {
     width: 45%;
     display: inline-block;
     margin: 18px;
    }
    
    .home_mainsectionproduct_descripcion button{
      display: flex;
      justify-content: flex-end  ;
    }
  
    .home_mainsectionproduct_descripcion h4 {
        display: inline-block;
    }
  }  

  @media (min-width:1024px){
    .home__main{
      width: 100%;
    }

    .home_mainsection_product  {
      width: 20%; 
      margin: 20px;
      gap: 20px;
      
    }
    .home_mainsection_product p{
      display: inline-block;
      margin-right: 40px;
      justify-content: space-between;
      display: inline-block;
      
    }
    .home_mainsectionproduct_descripcion h4 {
        display: inline-block;
        font-size: 90%;
    }  
 
}
       