.home__main {
    background-color: var(--colorGrisClaro); 
    margin: 0;
  }


  .home_main_banner{
    width: 100%;
  }

  .home_main_banner img{
    width: 100%;
    padding: 0;
    margin: 0;
    margin: auto;
   
  }

 .home_mainsection_product i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    }
    .home_mainsectionproduct_descripcion{  border-top: solid 1px var(--colorGrisClaro);
      padding: 15px;
      line-height: 25px;
      position: relative;
    }

  
  .home_main_section h3 {
    font-size: 24px;
    text-align: center;
  }
  
  .home_mainsection_product {
    border: solid 1px white;
    background-color: white;
    margin: 10px;
  }

  .home_mainsection_product p{
    display: inline-block;
    margin-right: 40px;
    justify-content: space-between;
  }
  
  .home_mainsection_product img {
    width: 100%;
    height: auto;
  }

 
  .home_mainsectionproduct_descripcion i {
    font-size: 15px;
    color: var(--colorVerde);
  }
  
  .home_mainsectionproduct_descripcion .porcentaje {
    color: var(--colorVerde);
  }
  
  .home_mainsectionproduct_descripcion h4 {
    display: none;
  }
  
  .home_mainsectionproduct_descripcion p,
  h4 {
    font-size: 16px;
  }

  @media (min-width:768px) {


    .home_mainsection_product {
     width: 45%;
     display: inline-block;
     margin: 18px;
    }
    
    .home_mainsectionproduct_descripcion button{
      display: flex;
      justify-content: flex-end  ;
    }
  
    .home_mainsectionproduct_descripcion h4 {
        display: inline-block;
    }
  }  

  @media (min-width:1024px){

    .home_mainsection_product  {
      width: 200px;
      margin: 25px;
    }
    .home_mainsection_product p{
      display: inline-block;
      margin-right: 40px;
      justify-content: space-between;
      font-size: 93%;
      display: inline-block;
    }
    .home_mainsectionproduct_descripcion h4 {
        display: inline-block;
        font-size: 90%;
    }  
}